.main-div mat-card{
  padding: 0px;
}
.loginform {
  padding: 20px;
}
.with-background {
  background-image: url('../img/back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
